
<div class="container mt-5">
<div class="row ">
  <div class="col-lg-6 offset-lg-3" >
    <div class="card-body text-center mt-3">
      <span class="titulo fs-3" >{{ titulo | uppercase}}</span>
      <form [formGroup] = "productform" (ngSubmit)="agregarproductos()" >
        <div class="mb-3 mt-3">
          <input type="text" formControlName="productos" class="form-control form-control-lg"  placeholder="Productos">
        </div>
        <div name= "productos" class="text-danger float-start" *ngIf="productform.controls.productos.errors && productform.controls.productos.touched ">
          <span > El producto es <strong>requerido</strong></span>
        </div>
        <div class="mb-3 mt-3">
          <input type="text" formControlName="categoria" class="form-control form-control-lg"  placeholder="Categoria">
        </div>
        <div class="text-danger float-start" *ngIf="productform.controls.categoria.errors && productform.controls.categoria.touched ">
          <span class="" > La categoria es <strong>requerido</strong></span>
        </div>
        <div class="mb-3 mt-3">
          <input type="text"  formControlName="ubicacion" class="form-control form-control-lg" placeholder="Ubicacion">
        </div>
        <div class="text-danger float-start" *ngIf="productform.controls.ubicacion.errors && productform.controls.ubicacion.touched ">
          <span class="" > La ubicacion es <strong>requerido</strong></span>
        </div>
        <div class="mb-3 mt-3">
          <input type="number"  formControlName="precio" class="form-control form-control-lg"  placeholder="Precio">
          <div class="text-danger float-start" *ngIf="productform.controls.precio.errors && productform.controls.precio.touched ">
            <span class="" > El precio es <strong>requerido</strong></span>
          </div>
        </div>

        <div class="mb-3 mt-3">
          <button class="btn btn-secondary btn-lg float-start" routerLink="/">Volver</button>
          <button type="submit" class="btn btn-success btn-lg float-end" [disabled]="!productform.valid" >Aceptar</button>
        </div>
      </form>
    </div>
  </div>



</div>
</div>
